@font-face {
    font-family:"Ravie";
    src:url("../fonts/ravie/RAVIE.eot?") format("eot"),url("../fonts/ravie/RAVIE.woff") format("woff"),url("../fonts/ravie/RAVIE.ttf") format("truetype"),url("../fonts/ravie/RAVIE.svg#Ravie") format("svg");
    font-weight:normal;
    font-style:normal;
}
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{

    background:black;
}

a {
    color: #ff5821;
}

a:hover {
    color: #ff7e54;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #ff5821;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #ff774a;
    transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/








/*-----------------
#Colores
----------------------------*/
.pnaranja{
   background: #ff6700;
}
.pplomo{
    background:#524658;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 65px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: black;

}


#header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.wrapper-scrolled{
    position: fixed;
}



.wrapper{
    float: left;
    width: 25%;
    display: inline;
    border:black solid 3px ;
    margin-left: 5px;

    margin-top: 5px;

}

#main {
    z-index: 3;
    margin-top: 5px;

    float: right;
    width: 74%;
    border:black solid 3px ;
    display: inline;

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {

    list-style: none;
}

.nav-menu > ul > li {
    margin-top: -10px;
    width: 14.28%;
    height: 60px;
    float: left;
    position: relative;
    border: black solid 3px;
    white-space: nowrap;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #000000;
    padding: 5px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Coiny', cursive;
    /*font-family: "Poppins", sans-serif; */
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 8px;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: lightne(#473d3a, 10);
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #ff5821;
}

.nav-menu .drop-down > a>center:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a>center:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down > a>center:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: relative;
    float: right;
    right: 35px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #ff5821;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #473d3a;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #ff5821;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a>center:after {
    content: "\eaa1";
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(43, 37, 35, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}
/*------------------------------------
# SIDEBAR
---------------------------------- */

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
#sidebar{
    color: black;
    font-size: 35px;
    font-family:"Ravie";
    z-index: -1;
}
#sidebar button{
    width: 240px;
    height: 60px;
    border: black solid 5px;
    margin: 5px;
    font-size: 32px;

}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
    margin-left: 260px;

}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;

}

.page-wrapper .theme.chiller-theme {
    background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 0px;
    }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
    left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 90%;
    max-height: 100%;
    position: fixed;
    top: 60px;
    left: -300px;
    z-index: 999;
    border: black solid 5px;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}




/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content > div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
::-webkit-scrollbar-thumb:active {
    background: #525965;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/



.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}




/*--------------------------------------------------------------
# Actividades y juegos
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# escoger niño o niña
# actividad 1

--------------------------------------------------------------*/
/* image boxes */
.box{
    width: 400px;
    background-color:#f4f4f4;
    border:1px solid #ccc;

    cursor: pointer;

    position:relative;
    z-index:5;
    box-sizing:border-box;


    box-shadow:0 0 3px #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    -webkit-box-shadow:0 0 3px #ccc;

    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    text-align: center;
    transition: background-color 1s, box-shadow 1s, transform 0.5s;
    -moz-transition: background-color 1s, -moz-box-shadow 1s, -moz-transform 0.5s;
    -webkit-transition: background-color 1s, -webkit-box-shadow 1s, -webkit-transform 0.5s;
    -o-transition: background-color 1s, -o-box-shadow 1s, -o-transform 0.5s;
}

.box:hover{
    background-color:#fff;
    z-index:10;

    box-shadow:0 0 15px #333;
    -moz-box-shadow:0 0 15px #333;
    -webkit-box-shadow:0 0 15px #333;

    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
/* title holder */
.box h3{
    font-size:27px;
    color:#777;
    margin:5px 10px;
    padding:5px 10px;
    font-family:'Arial Narrow', Arial;
    letter-spacing:1px;
    text-shadow:0 1px 1px #ccc;
    border-bottom:0 solid #fff;

    transition: color 1s, text-shadow 1s, border-bottom 1s;
    -moz-transition: color 1s, text-shadow 1s, border-bottom 1s;
    -webkit-transition: color 1s, text-shadow 1s, border-bottom 1s;
    -o-transition: color 1s, text-shadow 1s, border-bottom 1s;
}
.box:hover h3{
    color:#333;
    border-bottom:1px solid #aaa;
    text-shadow:1px 1px 1px #fff, 2px 2px 1px #888;
}

/* image holder */
.box .image{

    margin:10px;
    opacity:0.5;
    filter: alpha(opacity=50);

    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1s;
}
.box:hover .image{
    opacity:1;
    filter: alpha(opacity=100);
}
.box .image img{
    padding:2%;
    background: #000000;
    width: 100%;

}
.box .image img:hover{
    background:#333;
}

@media (min-width: 600px) {
    .box-1{
        float: left;
        margin-right:10px;
    }
    .box-2{
        float: left;
        margin-left:10px;
    }
}
/* cuento para la niña y niño */
.cuento {

    border: #ffffff 27px solid;
    border-image-source: url("../image/actividadesyjuegos/border.png");
    border-image-slice: 27;

    padding: 10px;
    text-align: justify;
    font-size: 34px;
}
.buttonQuestion{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/*--------------------------------------------------------------
# actividad 2
# SEMAFORO

--------------------------------------------------------------*/
.luces{
    position: absolute;

    left: 140px;
    bottom:110px;
    z-index: -1;
}
.hover{
    position: absolute;
    left: 140px;
    bottom:110px;
    z-index: 1;
}
.red{
    background: #9d0000;
    width: 125px;
    height: 130px;
    margin-top: 10px;

}
.yellow{
    background: #888800;
    width: 125px;
    height: 130px;
}
.green{
    background: green;
    width: 125px;
    height: 133px;
}
.hover1{

    width: 125px;
    height: 130px;

    cursor: pointer;
}
.hover2{

    width: 125px;
    height: 130px;
    cursor: pointer;
}
.hover3{

    width: 125px;
    height: 133px;
    cursor: pointer;
}
figure{

    display: inline-block;

    position: relative;
    justify-content: center;
    align-items: center;
}

/*rompe cabeza*/
div.rompecabeza {
    height: 450px;
    width: 820px;
    background-color: #090909;
    margin: auto;
    position: relative;
}
div.base {
    float: left;
    margin-top: 20px;
    margin-left:20px;
    width: 400px;
    height: 400px;
}
div.piezas {
    margin-top: 20px;
    float: left;
    width: 400px;
    height: 400px;
}
@media only screen and (max-width: 800px) {
    div.rompecabeza {
        height: 850px;
        width: 450px;
        background-color: #0e0d0d;
        margin: auto;
        position: relative;
        display: grid;
    }
    div.base {
        float: left;
        width: 400px;
        height: 400px;
    }
    div.piezas {
        margin-top: 0;
        float: left;
        width: 400px;
        height: 400px;
    }
}

/*una palabra*/
div.unaPlabra{
    width: 450px;
    /*background: #0e0d0d;*/
    margin: auto;
    position: relative;
    border-radius: 20px;


    -webkit-box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);
    -moz-box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);
    box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);


    background: rgba(152,0,212,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(152,0,212,1)), color-stop(2%, rgba(152,0,212,1)), color-stop(60%, rgba(0,19,74,1)), color-stop(99%, rgba(0,19,74,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -o-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: radial-gradient(ellipse at center, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9800d4', endColorstr='#00134a', GradientType=1 );
}
.headerImagen{
    width: 100%;
    height: 50px;
}
.imagenes{
    width: 100%;
    height: 450px;
}
.img-1,.img-2,.img-3,.img-4{
    width: 200px;
    margin: 12px;
    float: left;


}
.imagenes >div>img{
    border-radius: 20px;
}

.LetrasRespuestas {
    height: 80px;

    width: 80%;
    margin: auto;

}

.letra-1,.letra-2,.letra-3,.letra-4,.letra-5,.letra-6,.letra-7,.letra-8,.letra-9,.letra-10,
.letra-11,.letra-12,.letra-13,.letra-14,.letra-15,.letra-16,.letra-17,.letra-18{
    width: 30px;
    height: 30px;
    background: white;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;



    -webkit-box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
    -moz-box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
    box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
}
.letra-8,.letra-9,.letra-10,
.letra-11,.letra-12,.letra-13,.letra-14,.letra-15,.letra-16,.letra-17,.letra-18,.letra-19{
    display: none;
}

.letrasBotones{

    width: 80%;
    height: 100px;
    margin: auto;
}
.letrasBotones>button{
    width: 30px;
    height: 30px;

    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}







/*
FOOTER
 */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

}




