@font-face {
    font-family:"Ravie";
    src:url("../fonts/ravie/RAVIE.eot?") format("eot"),url("../fonts/ravie/RAVIE.woff") format("woff"),url("../fonts/ravie/RAVIE.ttf") format("truetype"),url("../fonts/ravie/RAVIE.svg#Ravie") format("svg");
    font-weight:normal;
    font-style:normal;
}
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


/*
COLORES
 */
.naranjado{
    background: #E86624!important;
}
.plomo{
    background: #524658!important;
}
.negro{
    background: #000000 !important;
}

/*---
todo el cuerpo
 */
body {

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0,0,0);

}
/*
CABEZERA
 */
.header {
    background-color: #000000;


}
.logo{
    width: 100%;
    height: 100%;
}

/*
END CABEZARA
 */


/*
NAVBAR
 */
.nav-personalizado{
    background: black!important;
    font-family:  'Coiny', cursive;
    z-index: 10000!important;

}
.nav{
    width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0);
    font-weight: bold;

}

/*
SIDEBAR
 */
.sidenav {


    /*margin-top: -78px!important;*/
    padding: 0 20px;
    font-family: Ravie;
    font-size: 100%;
    color: #000000;
    margin-right: 10px;

}
.sidenav > p{
    font-size: 3vw;
    width: 100%;
}
.sidenav > .nav >a{

    width:100%;
    height:auto;
    min-height:5px;
    font-size:2vw;
    display: inline;
    color: black;

    border: black solid 10px;
}
.sidenav > .nav >a:hover{
    color: rgba(255,255,255,.75);
}

.sidenav > a{
    border: black solid 5px;

}



@media screen and (max-width: 1000px) {

    .sidenav {
        display: none;
    }

}

/*
CONTENIDO
 */
.main{
    left: -15px!important;
    margin-left: 10px;
    border-radius: 5px;

}



/*--------------------------------------------------------------
# Actividades y juegos
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# escoger niño o niña
# actividad 1

--------------------------------------------------------------*/
/* image boxes */
.box{
    width: 400px;
    background-color:#f4f4f4;
    border:1px solid #ccc;

    cursor: pointer;

    position:relative;
    z-index:5;
    box-sizing:border-box;


    box-shadow:0 0 3px #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    -webkit-box-shadow:0 0 3px #ccc;

    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    text-align: center;
    transition: background-color 1s, box-shadow 1s, transform 0.5s;
    -moz-transition: background-color 1s, -moz-box-shadow 1s, -moz-transform 0.5s;
    -webkit-transition: background-color 1s, -webkit-box-shadow 1s, -webkit-transform 0.5s;
    -o-transition: background-color 1s, -o-box-shadow 1s, -o-transform 0.5s;
}

.box:hover{
    background-color:#fff;
    z-index:10;

    box-shadow:0 0 15px #333;
    -moz-box-shadow:0 0 15px #333;
    -webkit-box-shadow:0 0 15px #333;

    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
/* title holder */
.box h3{
    font-size:27px;
    color:#777;
    margin:5px 10px;
    padding:5px 10px;
    font-family:'Arial Narrow', Arial;
    letter-spacing:1px;
    text-shadow:0 1px 1px #ccc;
    border-bottom:0 solid #fff;

    transition: color 1s, text-shadow 1s, border-bottom 1s;
    -moz-transition: color 1s, text-shadow 1s, border-bottom 1s;
    -webkit-transition: color 1s, text-shadow 1s, border-bottom 1s;
    -o-transition: color 1s, text-shadow 1s, border-bottom 1s;
}
.box:hover h3{
    color:#333;
    border-bottom:1px solid #aaa;
    text-shadow:1px 1px 1px #fff, 2px 2px 1px #888;
}

/* image holder */
.box .image{

    margin:10px;
    opacity:0.5;
    filter: alpha(opacity=50);

    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1s;
}
.box:hover .image{
    opacity:1;
    filter: alpha(opacity=100);
}
.box .image img{
    padding:2%;
    background: #000000;
    width: 100%;

}
.box .image img:hover{
    background:#333;
}

@media (min-width: 600px) {
    .box-1{
        float: left;
        margin-right:10px;
    }
    .box-2{
        float: left;
        margin-left:10px;
    }
}
/* cuento para la niña y niño */
.cuento {

    border: #ffffff 27px solid;
    border-image-source: url("../image/actividadesyjuegos/border.png");
    border-image-slice: 27;

    padding: 10px;
    text-align: justify;
    font-size: 34px;
}
.buttonQuestion{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/*--------------------------------------------------------------
# actividad 2
# SEMAFORO

--------------------------------------------------------------*/
.luces{
    position: absolute;

    left: 140px;
    bottom:110px;
    z-index: -1;
}
.hover{
    position: absolute;
    left: 140px;
    bottom:110px;
    z-index: 1;
}
.red{
    background: #9d0000;
    width: 125px;
    height: 130px;
    margin-top: 10px;

}
.yellow{
    background: #888800;
    width: 125px;
    height: 130px;
}
.green{
    background: green;
    width: 125px;
    height: 133px;
}
.hover1{

    width: 125px;
    height: 130px;

    cursor: pointer;
}
.hover2{

    width: 125px;
    height: 130px;
    cursor: pointer;
}
.hover3{

    width: 125px;
    height: 133px;
    cursor: pointer;
}
figure{

    display: inline-block;

    position: relative;
    justify-content: center;
    align-items: center;
}

/*rompe cabeza*/
div.rompecabeza {
    height: 450px;
    width: 820px;
    background-color: #090909;
    margin: auto;
    position: relative;
}
div.base {
    float: left;
    margin-top: 20px;
    margin-left:20px;
    width: 400px;
    height: 400px;
}
div.piezas {
    margin-top: 20px;
    float: left;
    width: 400px;
    height: 400px;
}
@media only screen and (max-width: 800px) {
    div.rompecabeza {
        height: 850px;
        width: 450px;
        background-color: #0e0d0d;
        margin: auto;
        position: relative;
        display: grid;
    }
    div.base {
        float: left;
        width: 400px;
        height: 400px;
    }
    div.piezas {
        margin-top: 0;
        float: left;
        width: 400px;
        height: 400px;
    }
}

/*una palabra*/
div.unaPlabra{
    width: 450px;
    /*background: #0e0d0d;*/
    margin: auto;
    position: relative;
    border-radius: 20px;


    -webkit-box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);
    -moz-box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);
    box-shadow: 0px 1px 50px 0px rgba(6,0,87,1);


    background: rgba(152,0,212,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(152,0,212,1)), color-stop(2%, rgba(152,0,212,1)), color-stop(60%, rgba(0,19,74,1)), color-stop(99%, rgba(0,19,74,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -o-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    background: radial-gradient(ellipse at center, rgba(152,0,212,1) 0%, rgba(152,0,212,1) 2%, rgba(0,19,74,1) 60%, rgba(0,19,74,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9800d4', endColorstr='#00134a', GradientType=1 );
}
.headerImagen{
    width: 100%;
    height: 50px;
}
.imagenes{
    width: 100%;
    height: 450px;
}
.img-1,.img-2,.img-3,.img-4{
    width: 200px;
    margin: 12px;
    float: left;


}
.imagenes >div>img{
    border-radius: 20px;
}

.LetrasRespuestas {
    height: 80px;

    width: 80%;
    margin: auto;

}

.letra-1,.letra-2,.letra-3,.letra-4,.letra-5,.letra-6,.letra-7,.letra-8,.letra-9,.letra-10,
.letra-11,.letra-12,.letra-13,.letra-14,.letra-15,.letra-16,.letra-17,.letra-18{
    width: 30px;
    height: 30px;
    background: white;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;



    -webkit-box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
    -moz-box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
    box-shadow: -8px -1px 53px 0px rgba(255,255,255,1);
}
.letra-8,.letra-9,.letra-10,
.letra-11,.letra-12,.letra-13,.letra-14,.letra-15,.letra-16,.letra-17,.letra-18,.letra-19{
    display: none;
}

.letrasBotones{

    width: 80%;
    height: 100px;
    margin: auto;
}
.letrasBotones>button{
    width: 30px;
    height: 30px;

    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}



